{
  "semi": true,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "bracketSpacing": false,
  "trailingComma": "all",
  "printWidth": 90,
  "tabWidth": 4,
  "arrowParens": "avoid",
  "endOfLine": "lf"
}