.orders_list {
  .container {
    margin: 0 auto;

    max-width: 1240px;
    max-height: 80vh;

    display: flex;
    justify-content: space-between;

    border: 1px dotted grey;

    .orders_list_ingredients {
      display: flex;
      flex-direction: column;
    }
  }
}