.container {
  display: flex;

  max-width: 1240px;
  max-height: 80vh;
  margin: 0 auto;

  border: 1px dotted grey;

  .order_list {
    width: 50%;
  }

  .orders_list_ingredients {
    display: flex;
    flex-direction: column;

    width: 50%;
    height: 80vh;

    border: 1px solid silver;
  }
}
