@import "styles/mixins";
@import "styles/size";
@import "styles/animation";

.profile_section {
  @include container_center;

  display: grid;
  grid-template-columns: 2fr 4fr;

  height: $content_height;

  .profile_buttons {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    margin-top: 45px;

    button {
      color: $theme_light;
    }

    button:hover,
    button:active {
      color: $theme_white;
    }

    p {
      opacity: .4;
    }

    .active {
      color: $theme_white
    }
  }

  .profile_update_button {
    position: fixed;
  }

  .profile_content {
    height: $content_height;
    align-items: center;
    display: flex;

    form {
      display: flex;
      align-items: start;
      justify-content: center;
      flex-direction: column;

      width: 100%;
      height: 100%;
    }

    .profile_orders {
      width: 100%;
      height: 80vh;

      overflow-y: scroll;
    }
  }

}