.ingredients_block {
  composes: mt-10 from global;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;

  .ingredients_list {
    overflow-x: hidden;
    overflow-y: scroll;
  }
}

.ingredients_menu {
  composes: mb-10 from global;
  display: flex;
}
