@import "styles/_theme_colors";

.header_button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 35px;
  padding-left: 10px;
  color: $theme_light;

  svg {
    transition: .6s all;
  }
}

.header_button:hover {
  box-shadow: 0 0 13px 1px $theme_light;
}

.red {
  background-color: red;
}