@import "styles/_theme_colors";

* {
  scrollbar-width: thin!important;
  scrollbar-gutter: stable!important;
  scroll-behavior: smooth!important;
}

*::-webkit-scrollbar-thumb {
  background: rgb(150, 150, 150);
  border-radius: 5px;
}