// ------ Main bg colors ------
$bg_main: #131316;
$bg_modal: #1C1C21;

// ------ Theme colors ------
$theme_white: #F2F2F2;
$theme_light: #8585AD;
$constructor_element: #2F2F37FF;

// ------ Scroll colors ------
$scroll_dark: #2F2F37;
$scroll_active: #4C4CFF;

// ------ Order colors ------
$ready_order_color: #00CCCC;