@import 'styles/theme_colors';

.modal_overlay {
  position: fixed;
  z-index: 100;
  overflow: auto;

  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;


  background-color: #000000;
  opacity: .6;
}

.modal_error {
  opacity: 1;
}

.modal {
  position: fixed;

  z-index: 200;
  top: 50%;
  left: 50%;

  transition: .5s all;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  width: 720px;

  svg {
    transition: .5s all;
    cursor: pointer;
    position: absolute;
    z-index: 300;
    right: 40px;
    top: -280px;
  }

  svg:hover {
    fill: $scroll_active;
  }
}

.modal_fadeIn {
  animation: fadeIn .3s ease-in-out;
}

.modal_fadeOut {
  animation: fadeOut .3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
