@import "styles/mixins";
@import "styles/theme_colors";

.feed {
  @include container_center;

  display: flex;
  flex-flow: row wrap;

  h1 {
    width: 100%;
  }

  .feed_list {
    display: flex;
    justify-content: center;

    overflow-x: hidden;
    overflow-y: hidden;

    width: 50%;
    height: 90%;
  }

  .feed_details {
    width: 50%;
    border: 1px solid red;
  }

}

.feed_item {
  composes: pt-6 from global;

  display: flex;
  align-items: center;
  flex-direction: column;

  width: 95%;

  background-color: $bg_modal;

  border-radius: 40px;

  .feed_item_info {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 90%;

    p:nth-child(1) {
      font-size: 20px;
    }

    .order_date {
      color: $theme_light;
    }
  }

  .feed_item_name {
    width: 90%;
    text-align: start;

    h4 {
      font-size: 24px;
    }
  }

  .feed_item_ingredients {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 90%;

    .ingredients_thumbnail {
      display: flex;
      align-items: center;

      width: 60%;

      border: 1px solid red;

      img {
        height: 56px;
        border-radius: 50%;

      }

      .circle:nth-child(n+2) {
        margin-left: -90px;
      }
    }

    .feed_item_price {
      display: flex;
      gap: 10px;
    }
  }
}