@import "styles/mixins";
@import "styles/theme_colors";

.feed {
  @include container_center;

  display: flex;
  flex-flow: row wrap;

  h1 {
    width: 100%;
  }

  .feed_list {
    display: flex;
    justify-content: center;

    overflow-x: hidden;
    overflow-y: hidden;

    width: 50%;
    height: 90%;
  }

  .feed_details {
    width: 50%;
    border: 1px solid red;

    .feed_details_info {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;

      width: 100%;


      .feed_details_ready {
        width: 40%;

        border: 1px solid green;


        p {
          color: $ready_order_color;
        }
      }

      .feed_details_await {
        border: 1px solid orangered;
        width: 40%;
      }
    }
  }

}

.feed_item {
  composes: pt-6 mt-1 mb-1 from global;

  display: flex;
  align-items: center;
  flex-direction: column;

  width: 95%;

  background-color: $bg_modal;

  border-radius: 40px;

  transition: .5s all;

  .feed_item_info {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 90%;

    p:nth-child(1) {
      font-size: 20px;
    }

    .order_date {
      color: $theme_light;
    }
  }

  .feed_item_name {
    width: 90%;
    text-align: start;

    h4 {
      font-size: 24px;
    }
  }

  .feed_item_ingredients {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 90%;


    .ingredients_thumbnail {
      display: flex;
      align-items: center;

      width: 70%;
    }
  }

  .feed_item_price {
    display: flex;

    gap: 10px;

    font-size: 20px;

    svg {
      scale: 1.1;
    }
  }
}


.feed_item:hover {
  box-shadow: 0 0 6px 1px $theme_light;
}

.red {
  background-color: red;
}