.section {
  max-height: 80vh;


  form {
    max-width: 1240px;
    max-height: 80vh;
    margin: 0 auto;

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

  }
}