@import "styles/theme_colors";
@import "styles/animation";
@import "styles/mixins";
@import "styles/size";

.section {
  @include container_center;

  @include flex_center;

  height: $content_height;

  form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 100%;
  }

  .not_found {
    position: relative;

    @include flex_center;
    flex-direction: column;

    height: 90vh;

    .astronaut {
      position: absolute;
      top: 29%;
      left: 10%;

      height: 330px;

      opacity: .7;
    }

    .astro_loading {
      position: absolute;
      left: 11.3%;
      top: 24%;

      opacity: .3;
    }

    h1 {
      font-size: 340px;
    }

    h1, p {
      text-shadow: 0 0 10px $scroll_active,
      0 0 14px $scroll_active
    }
  }
}