@import "styles/theme_colors";

.section {
  margin: 0 auto;
  height: calc(100vh - 90px);
  max-width: 1240px;

  form {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .not_found {
    height: 90vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .astronaut {
      position: absolute;
      top: 29%;
      left: 10%;

      height: 330px;

      opacity: .7;
    }

    .astro_loading {
      position: absolute;
      left: 11.3%;
      top: 24%;

      opacity: .3;
    }

    h1 {
      font-size: 340px;
    }

    h1, p {
      text-shadow: 0 0 10px $scroll_active,
      0 0 14px $scroll_active
    }
  }
}

.profile_section {
  margin: 0 auto;
  height: calc(100vh - 90px);
  max-width: 1240px;

  display: flex;
  justify-content: center;
  align-items: center;

  .profile_block {
    position: relative;

    width: 100%;

    display: flex;
    justify-content: center;

    .profile_buttons {
      position: absolute;
      left: 0;

      width: 30%;

      display: flex;
      flex-direction: column;


      button {
        color: $theme_light;
      }

      button:hover,
      button:active {
        color: $theme_white;
      }

      p {
        opacity: .4;
      }

      .active {
        color: $theme_white
      }
    }

    .profile_update_button {
      position: fixed;
    }
  }
}

.fadeIn {
  animation: fadeIn .3s ease-in-out;
}

.fadeOut {
  animation: fadeOut .3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}