.modal_ingredients {
  composes: pl-10 pr-10 from global;

  width: 720px;
  height: 539px;

  background-color: #131316;
  color: #F2F2F3;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  border-radius: 40px;

  h3 {
    width: 90%;
    text-align: start;
  }

  button {
    background: transparent;
    color: #F2F2F3;
  }

  button:active {

  }
}