@import "styles/theme_colors";

.orders_modal {
  position: relative;

  composes: pt-30 pb-30 from global;

  width: 720px;
  height: 718px;

  background-color: $bg_modal;
  color: $theme_white;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  border-radius: 40px;

  button {
    position: absolute;

    right: 40px;
    top: 60px;

    background: transparent;
    color: $theme_white;
    font-weight: bolder;
    height: auto;

    transition: .5s all;
  }

  button:hover,
  button:active {
    opacity: .9;
    transform: scale(.96);
    color: $scroll_active;
  }

  h1 {
    text-shadow: 0 0 7px $scroll_active,
    0 0 14px $scroll_active
  }

  img {
    width: 120px;
    height: auto;
  }

  &_info {
    text-align: center;

    p:last-of-type {
      color: $theme_light;
    }
  }
}