.login_section {
  composes: pl-4 pr-4 from global;


  form {
    max-width: 1240px;
    max-height: 80vh;
    margin: 0 auto;

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid red;

    flex-direction: column;

  }
}

.status {
  position: absolute;
  left: 50%;
  top: 50%;

  font-size: 30px;
}