@import "styles/theme_colors";
@import "styles/mixins";

.orders_modal {
  composes: pt-30 pb-30 from global;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 720px;
  height: 718px;

  background-color: $bg_modal;
  color: $theme_white;

  border-radius: 40px;

  h1 {
    @include digits_box_shadow;
  }

  img {
    width: 230px;
    height: auto;
  }

  &_info {
    text-align: center;

    p:last-of-type {
      color: $theme_light;
    }
  }
}