@import "styles/theme_colors";
@import "styles/mixins";

.order_details {
  position: fixed;

  display: flex;
  flex-direction: column;

  height: 640px;
  width: 640px;

  left: calc(50% - 360px);
  top: calc(50% - 320px);

  color: $theme_white;

  border-radius: 40px;

  .order_details_header {
    width: 100%;

    h5 {
      text-align: center;
    }

    p {
      color: $ready_order_color
    }
  }

  ul {
    list-style-type: none;

    li {
      margin-bottom: 16px;
    }
  }

  .order_details_footer {
    display: flex;
    justify-content: space-between;

    p {
      color: $theme_light;
    }

    span {
      display: flex;
      justify-content: end;
      gap: 10px
    }
  }
}

.order_ingredient {
  display: grid;
  grid-template-columns: 1fr 3fr 3fr;

  width: 100%;

  align-items: center;

  p {
    text-align: start;
  }

  .order_ingredient_price {
    align-items: center;
    display: flex;
    justify-content: end;
    gap: 10px
  }
}

//NEED TO BE CORRECTED WITH THE DYNAMIC ROUTING
.dark {
  background-color: $bg_main;
}