@import "styles/theme_colors";

.header {
  composes: p-4 from global;
  border-radius: 0 0 30px 30px;

  background-color: $bg_modal;

  height: 88px;

  nav {
    max-width: 1240px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    ul {
      list-style-type: none;
      display: flex;
      justify-content: space-between;

      li {
        width: 50%;
      }
    }

    .header_logo {
      display: flex;
      justify-content: center;
      text-align: center;
    }

    .header_profile {
      display: flex;
      justify-content: right;
    }
  }
}