@import "styles/theme_colors";

.header {
  composes: pt-4 pb-4 from global;

  background-color: $bg_modal;

  height: 88px;


  nav {
    max-width: 1280px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    ul {
      list-style-type: none;
      display: flex;
      justify-content: space-between;

      li {
        width: 48%;
      }
    }

    .header_logo {
      display: flex;
      justify-content: center;
      text-align: center;
    }

    .header_profile {
      display: flex;
      justify-content: right;

      button {
        margin-left: 10px;
      }
    }
  }

  a:hover {
    box-shadow: 0 0 6px 1px $theme_light;
  }

  a[class="active"] {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 35px;
    padding: 10px;

    button {
      color: $theme_white;
    }

    svg {
      transition: .6s all;
    }
  }

  a[class="not_active"] {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 35px;
    padding: 10px;

    button {
      color: $theme_light;
    }

    button:hover {
      opacity: 1;
      color: $theme_light;
    }

    svg {
      transition: .6s all;
    }
  }
}