.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  composes: p-4 from global;

  height: 88px;
  width: 100%;

  nav {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
  }
}