.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  composes: p-4 from global;


  height: 88px;
  width: 100%;

  nav {
    display: flex;
    flex-direction: row;
  }
}