@import "styles/theme_colors";
@import "styles/mixins";

.header {
  composes: pt-4 pb-4 from global;

  background-color: $bg_modal;

  height: 88px;

  nav {
    @include container_center;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    ul {
      display: flex;
      justify-content: space-between;

      list-style-type: none;

      li {
        width: 45%;

        a {
          transition: .2s all;
        }
      }
    }

    .header_logo {
      @include flex_center;

      a:hover {
        box-shadow: none;
      }
    }

    .header_profile {
      display: flex;
      justify-content: right;

      button {
        margin-left: 10px;
      }

      a:hover {
        color: $theme_white;
      }
    }
  }

  a:hover {
    box-shadow: 0 0 6px 1px $theme_light;

    button {
      color: $theme_white;
    }
  }

  a[class="active"] {
    display: flex;
    align-items: center;
    justify-content: space-around;

    border-radius: 35px;

    padding: 10px;

    button {
      color: $theme_white;
    }

    svg {
      fill: $theme_white;
      transition: .6s all;
    }
  }

  a[class="not_active"] {
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: space-around;

    border-radius: 35px;

    button {
      color: $theme_light;
    }

    svg {
      fill: $theme_light;
      transition: .6s all;
    }
  }
}

//@include flex_center;