.constructor_block {
  composes: mt-25 pl-5 pr-5 pb-10 from global;
  width: 50%;
  height: 110%;

  .constructor_list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 80%;


    .constructor_item_top,
    .constructor_item_bottom {
      width: 90%;
      align-self: center;
      margin-right: 15px;
      margin-left: 30px;
    }

    .constructor_order {
      display: flex;
      flex-direction: column;
      gap: 5px;
      overflow-x: hidden;
      overflow-y: scroll;
      min-height: 30px;
    }
  }

  .price_info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;

    svg {
      width: 33px;
      height: auto;
    }
  }
}