.constructor_block {
  composes: mt-25 pl-5 pr-5 pb-10 from global;
  width: 50%;
  height: 95%;
  overflow: hidden;

  .constructor_list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 80%;

    .constructor_item_top,
    .constructor_item_bottom {
      width: 88%;
      align-self: center;

      svg {
        margin-left: 17px;
      }
    }

    .constructor_order {
      display: flex;
      flex-direction: column;
      gap: 10px;
      height: 70%;
      overflow-x: hidden;
      overflow-y: scroll;
    }

    .constructor_order_item {
      padding-right: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      svg {
        margin-right: 10px;
      }
    }
  }

  .price_info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
  }
}