.constructor_block {
  composes: mt-10 from global;
  display: flex;
  flex-direction: column;

  height: 100%;
  width: 50%;

  .ingredients_list {
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
  }
}

.constructor_menu {
  composes: mb-10 from global;
  display: flex;
}

::-webkit-scrollbar-track {
  background: transparent;
  margin-bottom: 52px;
}