.constructor_block {
  composes: mt-10 from global;
  display: flex;
  flex-direction: column;

  //border: 1px solid red;

  height: 100%;
  width: 50%;

  .ingredient_list {
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;

    .ingredient_group {
      h3 {
        width: 100%;
      }
    }
  }
}

.constructor_menu {
  composes: mb-10 from global;
  display: flex;
}

