.constructor_block {
  composes: mt-25 pl-5 pr-5 pb-10 from global;
  width: 50%;
  height: 75vh;

  .constructor_list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 95%;


    .constructor_item_top,
    .constructor_item_bottom,
    .constructor_item_initial_bun {
      width: 90%;
      align-self: center;
      margin-right: 15px;
      margin-left: 30px;
      display: flex;
      align-items: center;

      span {
        margin-left: 5px;
      }
    }

    .constructor_item_initial_bun {
      display: flex;
      justify-content: center;

      svg {
        display: none;
      }

      span:nth-child(1) {
        width: 100%;
        justify-content: space-between;
      }

      span:nth-child(2) {
        justify-content: center;
        letter-spacing: .15em;
      }

      span:nth-child(3) {
        display: none;
      }
    }

    .constructor_item_top svg:last-child,
    .constructor_item_bottom svg:last-child,
    .constructor_item_initial_bun {
      margin-left: 5px;
      margin-right: 10px;
    }

    .constructor_item_top span:nth-child(3) svg,
    .constructor_item_bottom span:nth-child(3) svg,
    .constructor_item_initial_bun span:nth-child(3) svg {
      margin: 0 19px 0 9px;
    }

    .constructor_order {
      display: flex;
      flex-direction: column;
      gap: 5px;
      overflow-x: hidden;
      overflow-y: scroll;
      //min-height: 30px;
    }
  }

  .price_info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 33px;
      height: auto;
    }
  }
}