.burger_builder {
  composes: pl-4 pr-4 from global;

  width: 100%;
  height: 65vh;

  display: flex;
  justify-content: space-between;
}

.status {
  position: absolute;
  left: 50%;
  top: 50%;

  font-size: 30px;
}