@import "styles/theme_colors";
@import "styles/animation";

.tooltip {
  position: absolute;

  top: 77px;
  right: 100px;

  padding: 7px;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 40px;
  width: max-content;

  margin-left: calc(100%);
  color: $theme_white;

  background: $scroll_active;

  opacity: .6;
  transition: opacity 1s;

  border-radius: 15px;

  pointer-events: none;
}

.tooltip_element {
  position: relative;
}