@import "styles/theme_colors";

.tooltip {
  position: absolute;

  display: flex;
  justify-content: center;
  align-content: center;

  height: 40px;
  width: auto;

  padding: 4px 12px;
  margin-left: calc(100%);
  color: $theme_white;

  background: $scroll_active;

  opacity: .6;

  border-radius: 15px;

  pointer-events: none;
}